<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Analisis_proyecto.My.MySettings.Conexion" 
         connectionString="DATA SOURCE=localhost:1521/orcl;PASSWORD=123456;USER ID=SA"
      providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>